{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4 text-left">{% translate 'Statuses' %}</h1>
	<a class="btn btn-primary btn-block mb-3" href="{% url 'statuses:create' %}">
		{% translate 'Create new status' %}
	</a>
    <table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">{% translate 'ID' %}</th>
	      <th scope="col">{% translate 'Name' %}</th>
	      <th scope="col">{% translate 'Creation date' %}</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for status in statuses %}
	    <tr>
	      <th scope="row">{{ status.id }}</th>
	      <td>{{ status.name }}</td>
	      <td>{{ status.created_at }}</td>
	      <td>
			<a class="btn btn-info btn-sm mr-2" href="{% url 'statuses:update' status.id %}">
			{% translate 'Update' %}</a>
			<a class="btn btn-danger btn-sm" href="{% url 'statuses:delete' status.id %}">
			{% translate 'Delete' %}</a>	      
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% endblock %}
