{% extends "base.html" %}
{% load i18n %}

{% block header %}{% endblock %}
{% block content %}
<h1 class="my-5 text-left">{{ title }}</h1>

{% if form.errors %}
    <p class="alert alert-warning" role="alert">
        {% translate "Your username and password didn't match. Please try again." %}
    </p>
{% endif %}

<form method="post" class="text-left" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group row">
        <label for="id_username" class="col col-form-label">{% translate 'Username' %}</label>
        <div class="col-sm-10">
            <input type="text" name="username" class="form-control"
            id="id_username" placeholder="{% translate 'Enter Username' %}">
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password" class="col col-form-label">{% translate 'Password' %}</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="id_password"
            name="password" placeholder="{% translate 'Enter Password' %}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{% translate 'Login user' %}</button>
</form>
{% endblock %}