{% load i18n %}

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #d3edff;">
  <a href="{% url 'index' %}" class="navbar-brand">{% translate 'TaskManager' %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <div class="navbar-nav mr-auto">
      <a href="{% url 'users:users' %}" class="nav-link" >{% translate 'Users' %}</a>
      {% if user.is_authenticated %}
        <a href="{% url 'statuses:statuses' %}" class="nav-link" >{% translate 'Statuses' %}</a>
        <a href="{% url 'tasks:tasks' %}" class="nav-link" >{% translate 'Tasks' %}</a>
        <a href="{% url 'labels:labels' %}" class="nav-link" >{% translate 'Labels' %}</a>
      {% endif %}
    </div>
    <div class="navbar-nav">
    {% if user.is_authenticated %}
      <p class="h6 mr-5 mt-auto">Welcome, <strong>{{ user.username }}</strong></p>
      <a href="{% url 'logout' %}" class="btn btn-outline-primary mr-2">{% translate 'Log Out' %}</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-primary mr-2">{% translate 'Log In' %}</a>
      <a href="{% url 'users:registration' %}" class="btn btn-primary">{% translate 'Sign Up' %}</a>
    {% endif %}
    </div>
  </div>
</nav>